[submodule ".themes/foxslide"]
	path = .themes/foxslide
	url = https://github.com/sevenadrian/foxslide
[submodule "source/_includes/.themes/foxslide"]
	path = source/_includes/.themes/foxslide
	url = http://github.com/sevenadrian/foxslide
